<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.lab.registrationandlogin.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.lab.registrationandlogin.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.lab.registrationandlogin.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewClass</servlet-name>
        <servlet-class>com.lab.classes.NewClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveMarks</servlet-name>
        <servlet-class>com.lab.classes.SaveMarks</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>SelectEx</servlet-name>
        <servlet-class>com.lab.classes.SelectEx</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewClass</servlet-name>
        <url-pattern>/NewClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveMarks</servlet-name>
        <url-pattern>/SaveMarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectEx</servlet-name>
        <url-pattern>/SelectEx</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
